---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
<ul class="nav">
  {%- for entry in collections.all | eleventyNavigation %}
    <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
  {%- endfor %}
</ul>
{# {% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %} #}
{# <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}